# Prerequisites / Compiled Object files
*.o
*.obj
*.ko
*.slo

# Precompiled Headers and Dependency files
*.gch
*.pch
*.d

# Libraries and Shared Objects
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll

# Executables and Binaries
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
runner
runner.exe

# Build and Output Directories
build/
bin/
dist/
obj/

# Debug files and Profiling
*.dSYM/
*.su
*.idb
*.pdb
*.gcno
*.gcda
*.gcov

# IDEs and Editors
.vscode/
.idea/
.vs/
*.swp
*.swo
*~
.clangd/
.cache/
compile_commands.json

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Temporary and Log files
*.tmp
*.log

# Local test / debug files
debugger.c
main.c
